<h2 class="car-title">Carrinho</h2>
<div>
    <ul>
        <li>
            <img src="assets/fone-de-ouvido-2.jpg">
            <p>MONITOR</p>
            <p>R$ 1300</p>
            <label>
                Quantidade:
                <input type="=number">
            </label>
            <button class="remove-button">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </li>
    </ul>

    <h2 class="cart-total">Total R$ 4000,</h2>
    <button class="buy-button">
        Comprar
    </button>
</div>
